@keyframes loading-bubbles {
    0% { transform: scale(0); }
    25% { transform: scale(1); }
    75% { transform: scale(0); }
    100% { transform: scale(0); }
}

circle {
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-name: loading-bubbles;
    animation-timing-function: cubic-bezier(0.2, 0.2, 0.4, 0.8);
}

g:nth-child(2) > circle {
    animation-delay: 0.3s;
}

g:nth-child(3) > circle {
    animation-delay: 0.6s;
}
